/* #FA6555 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open-Sans';
}

.d-none {
    display: none !important;
}

.fade-in {
    animation: fade-in 125ms ease-out;
}

.content-limit {
    /* width: 100%; */
    /* max-width: 1920px; */
    width: min(1920px, 90%);
    transition: all 75ms linear;
}

.site-ends {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: all 75ms linear;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

header {
    box-shadow: 0 0 12px 6px rgba(0,0,0,0.2);
    background: linear-gradient(
		90deg,
        #212121,
		#DE3343
	);
}

.header-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title-container img {
    height: 40px;
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.2));
}

.title {
    display: flex;
}

.title h1 {
    font-size: 40px;
}

footer {
    color: #f9f9f9;
    background-color: #414145;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    background-color: #f8f9fa;
}
  
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;
    gap: 64px;
    padding: 64px 0;
    transition: all 75ms linear;
}

.pokemon-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
}

.loading-slot {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    background: linear-gradient(
		90deg,
		#d8d8d892 0px,
		#f9f9f9 150px,
		#d8d8d892 250px
	);
    background-size: 300%;
    background-position: 100% 0;
    animation: shimmer 1.5s infinite;
}

.poke-widget {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 24px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: #eaeaea59;
    transition: all 75ms ease-in-out;
    cursor: pointer;
}

.poke-widget:hover {
    scale: 105%;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.poke-widget img {
    height: 60%;
    margin: 8px 0;
}

.poke-name {
    width: 100%;
    font-size: 32px;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.poke-num {
    width: 100%;
}

.poke-types-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pokemon-modal {
    width: 100%;
    max-width: 776px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.modal-bgd-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
}

.modal-img-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-img-container img {
    height: auto;
    width: 80%;
    filter: drop-shadow(0px 0px 12px rgba(0,0,0,0.2));
}

.modal-info-container {
    width: 100%;
    /* height: 300px; */
    padding: 32px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 24px 24px 0px 0px;
    background-color: #f8f9fa;
    overflow-y: auto;
}

.modal-btn {
    height: 40px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.modal-btn:disabled {
    visibility: hidden;
}

.modal-btn img {
    height: 40px;
    width: auto;
}

.modal-btn-close {
    align-self: flex-start;
}

.modal-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
}

.modal-types-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.modal-about-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

.bodymass-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.modal-base-stats-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.modal-base-stats-table td:first-child {
    width: 80px;
}

.modal-base-stats-table td:nth-child(2) {
    width: 80px;
}

.modal-base-stats-table td:nth-child(3) {
    height: 24px;
    background-color: #e4e4e4;
    border-radius: 12px;
}

.stat-bar {
    height: 100%;
    border-radius: 12px;
}

.search-bar {
    height: 40px;
    display: flex;
    align-items: center;
    /* position: fixed;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    top: 30px;
    z-index: 10; */
}

.search-icon {
    height: 100%;
    border-radius: 12px 0px 0px 12px;
    background-color: #fff;
}

.input-search {
    width: 350px;
    height: 100%;
    border: 0;
    outline: none;
    font-size: 20px;
    text-indent: 8px;
    align-content: center;
    border-radius: 0px 12px 12px 0px;
    transition: all 75ms linear;
} 

.input-search::placeholder {
    font-size: 16px;
    color: #888;
}

.btn {
    height: 40px;
    padding: 0 16px;
    border: 0;
    border-radius: 12px;
    color: #fff;
    font-size: 20px;
    background-color: #DE3343;
    transition: all 75ms ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #f74658;
}

.btn:disabled {
    background-color: #DE3343;
    opacity: 0.4;
    cursor: default;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f8f9fa;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
    cursor: pointer;
}

.modal-info-container::-webkit-scrollbar-track {
    margin-top: 20px;
}

.modal-info-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
}