.type {
    width: 50%;
    padding: 4px 8px;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    text-transform: capitalize;
}

.type-grass {
    background-color: #9BCC50;
}
.type-poison {
    background-color: #B97FC9;
}
.type-fire {
    background-color: #FD7D24;
}
.type-water {
    background-color: #4592C4;
}
.type-bug {
    background-color: #729F3F;
}
.type-flying {
    background-color: #3DC7EF;
}
.type-normal {
    background-color: #A4ACAF;
}
.type-ground {
    background-color: #AB9842;
}
.type-fairy {  
    background-color: #FDB9E9;
}
.type-electric {
    background-color: #EED535;
}
.type-psychic {
    background-color: #F366B9;
}
.type-fighting {
    background-color: #D56723;
}
.type-dragon {
    background-color: #53A4CF;
}
.type-rock {
    background-color: #A28B20;
}
.type-steel {
    background-color: #9EB7B8;
}
.type-ghost {
    background-color: #7B62A3;
}
.type-dark {
    background-color: #707070;
}
.type-ice {
    background-color: #51C4E7;
}

.widget-type-grass {
    background: linear-gradient(to bottom, #e3e3e335, rgba(155, 204, 80, 0.5));
}
.widget-type-poison {
    background: linear-gradient(to bottom, #e3e3e335, rgba(185, 127, 201, 0.5));
}
.widget-type-fire {
    background: linear-gradient(to bottom, #e3e3e335, rgba(253, 125, 36, 0.5));
}
.widget-type-water {
    background: linear-gradient(to bottom, #e3e3e335, rgba(69, 146, 196, 0.5));
}
.widget-type-bug {
    background: linear-gradient(to bottom, #e3e3e335, rgba(85, 122, 43, 0.5));
}
.widget-type-flying {
    background: linear-gradient(to bottom, #e3e3e335, rgba(61, 199, 239, 0.5));
}
.widget-type-normal {
    background: linear-gradient(to bottom, #e3e3e335, rgba(164, 172, 175, 0.5));
}
.widget-type-ground {
    background: linear-gradient(to bottom, #e3e3e335, rgba(141, 124, 49, 0.5));
}
.widget-type-fairy {  
    background: linear-gradient(to bottom, #e3e3e335, rgba(253, 185, 233, 0.5));
}
.widget-type-electric {
    background: linear-gradient(to bottom, #e3e3e335, rgba(238, 213, 53, 0.5));
}
.widget-type-psychic {
    background: linear-gradient(to bottom, #e3e3e335, rgba(243, 102, 185, 0.5));
}
.widget-type-fighting {
    background: linear-gradient(to bottom, #e3e3e335, rgba(174, 83, 26, 0.5));
}
.widget-type-dragon {
    background: linear-gradient(to bottom, #e3e3e335, rgba(42, 105, 139, 0.5));
}
.widget-type-rock {
    background: linear-gradient(to bottom, #e3e3e335, rgba(114, 89, 23, 0.5));
}
.widget-type-steel {
    background: linear-gradient(to bottom, #e3e3e335, rgba(124, 151, 151, 0.5));
}
.widget-type-ghost {
    background: linear-gradient(to bottom, #e3e3e335, rgba(123, 98, 163, 0.5));
}
.widget-type-dark {
    background: linear-gradient(to bottom, #e3e3e335, rgba(52, 52, 52, 0.5));
}
.widget-type-ice {
    background: linear-gradient(to bottom, #e3e3e335, rgba(96, 197, 228, 0.5));
}

.modal-type-grass {
    background: linear-gradient(to bottom, #fff, #9BCC50 50%);
}
.modal-type-poison {
    background: linear-gradient(to bottom, #fff, #B97FC9 50%);
}
.modal-type-fire {
    background: linear-gradient(to bottom, #fff, #FD7D24 50%);
}
.modal-type-water {  
    background: linear-gradient(to bottom, #fff, #4592C4 50%);
}
.modal-type-bug {
    background: linear-gradient(to bottom, #fff, #729F3F 50%);
}
.modal-type-flying {
    background: linear-gradient(to bottom, #fff, #3DC7EF 50%);
}
.modal-type-normal {
    background: linear-gradient(to bottom, #fff, #A4ACAF 50%);
}
.modal-type-ground {
    background: linear-gradient(to bottom, #fff, #AB9842 50%);
}
.modal-type-fairy {  
    background: linear-gradient(to bottom, #fff, #FDB9E9 50%);
}
.modal-type-electric {
    background: linear-gradient(to bottom, #fff, #EED535 50%);
}
.modal-type-psychic {
    background: linear-gradient(to bottom, #fff, #F366B9 50%);
}
.modal-type-fighting {
    background: linear-gradient(to bottom, #fff, #D56723 50%);
}
.modal-type-dragon {
    background: linear-gradient(to bottom, #fff, #53A4CF 50%);
}
.modal-type-rock {
    background: linear-gradient(to bottom, #fff, #A28B20 50%);
}
.modal-type-steel {
    background: linear-gradient(to bottom, #fff, #9EB7B8 50%);
}
.modal-type-ghost {
    background: linear-gradient(to bottom, #fff, #7B62A3 50%);
}
.modal-type-dark {
    background: linear-gradient(to bottom, #fff, #707070 50%);
}
.modal-type-ice {
    background: linear-gradient(to bottom, #fff, #51C4E7 50%);
}