@media (max-width: 768px) {
    .title {
        display: none;
    }
    main {
        gap: 32px;
        padding: 32px 0;
    }
    .site-ends {
        height: 64px;
    }
}

@media (max-width: 576px) {
    main {
        gap: 24px;
        padding: 24px 0;
    }
    /* .content-limit {
        width: min(1920px, 95%);
    } */
    .input-search {
        width: 250px;
        font-size: 16px;
    }
    .poke-widget {
        padding: 16px;
    }
    .pokemon-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 20px;
    }
    .modal-bgd-container {
        padding: 16px 16px;
    }
    .modal-info-container {
        height: 300px;
        padding: 16px;
        gap: 24px;
    }
    .modal-name-container h1 {
        font-size: 32px;
    }
    .modal-name-container span {
        font-size: 16px;
    }
    .modal-base-stats-table td {
        font-size: 16px;
    }
    .modal-base-stats-table td:first-child {
        width: 60px;
    }
    .modal-base-stats-table td:nth-child(2) {
        width: 40px;
    }
    .modal-base-stats-table td:nth-child(3) {
        height: 16px;
        background-color: #e4e4e4;
        border-radius: 8px;
    }
}

@media (max-width: 358px) {
    .input-search {
        width: 200px;
    }
}